// import partials
@import "variables";
@import "mixins";

.apps-wrapper {
  position: relative;
  width: 90%;
  height: 100%;
  min-height: 450px;
  margin: 0 auto;
  border: 1px solid $border-color;
  box-shadow: 0 0 10px 2px rgba($box-shadow-color, 0.2);

  @include mq-md-up {
    width: 70%;
    max-width: 475px;
  }

  @include mq-lg-up {
    width: 100%;
  }
}
